.cityBox, .cityWrap, .cityWrap_hover .cityName, .head-wrap, .head-wrap .head-content .nav-wrap .nav li.current {
    position: relative
}

.head-wrap {
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px #e5e5e5 solid
}

.head-wrap .head-content {
    display: block;
    height: 72px
}

.head-wrap .head-content .logo a {
    display: block;
    float: left;
    width: 150px;
    height: 72px;
    background: url(https://img.alicdn.com/bao/uploaded/gw.alicdn.com/tps/i2/TB1zoNfJVXXXXbCXVXXgap8FVXX-150-72.png) left center no-repeat
}

.head-wrap .head-content .nav-wrap {
    float: left
}

.head-wrap .head-content .nav-wrap .nav {
    float: left;
    padding-top: 18px
}

.head-wrap .head-content .nav-wrap .nav li {
    float: left;
    color: #6b6b6b;
    line-height: 42px
}

.head-wrap .head-content .nav-wrap .nav li a {
    color: #666;
    font-size: 18px;
    float: left;
    padding: 0 14px;
    margin-right: 10px
}

.head-wrap .head-content .nav-wrap .nav li a:hover {
    color: #eb002a;
    position: relative;
    text-decoration: none
}

.head-wrap .head-content .nav-wrap .nav li i {
    width: 1px;
    background: #d45d6f;
    font-style: normal;
    height: 12px;
    font-size: 0;
    line-height: 0;
    margin-top: 10px;
    float: left
}

.head-wrap .head-content .nav-wrap .nav li.current a {
    border-bottom: 3px #eb002a solid;
    color: #eb002a
}

.head-wrap .head-content .nav-wrap .nav li.current i, .head-wrap .head-content .nav-wrap .nav_last i {
    visibility: hidden
}

.head-wrap .head-content .entrance-wrap {
    float: right;
    margin-top: 17px
}

.head-wrap .head-content .entrance-wrap .entrance li {
    float: left
}

.head-wrap .head-content .entrance-wrap .entrance li a {
    display: block;
    float: left;
    padding: 0 10px 0 24px;
    height: 45px;
    line-height: 45px;
    color: #666;
    background: url(https://img.alicdn.com/bao/uploaded/img.alicdn.com/tps/i3/TB1xkfzGpXXXXbcXXXXFtjPHpXX-18-302.png) no-repeat
}

.head-wrap .head-content .entrance-wrap .entrance li a:hover {
    text-decoration: none
}

.head-wrap .head-content .entrance-wrap .entrance li a.fcode {
    background-position: 1px -73px
}

.head-wrap .head-content .entrance-wrap .entrance li a.fcode.current {
    background-position: 1px -221px;
    color: #eb002a
}

.head-wrap .head-content .entrance-wrap .entrance li a.phone {
    background-position: 8px -25px
}

.head-wrap .head-content .entrance-wrap .entrance li a.phone.current {
    background-position: 1px -170px;
    color: #eb002a
}

.head-wrap .head-content .entrance-wrap .entrance li a.service {
    background-position: 3px -122px
}

.head-wrap .head-content .entrance-wrap .entrance li a.service.current {
    background-position: 1px -273px;
    color: #eb002a
}

.cityWrap {
    float: left;
    display: inline;
    margin-right: 20px
}

.cityWrap .cityName {
    float: left;
    font-size: 18px;
    color: #333;
    height: 45px;
    line-height: 40px;
    padding: 0 15px;
    margin-top: 20px
}

.cityWrap .cityName span {
    color: #333;
    font-family: "microsoft yahei";
    float: left;
    min-width: 40px
}

.cityWrap .cityName .tri {
    float: left;
    width: 0;
    height: 0;
    border-width: 6px;
    margin-left: 5px;
    border-style: solid;
    margin-top: 18px;
    border-color: #333 #fff #fff;
    font-size: 0;
    line-height: 0
}

.cityWrap_hover .cityName {
    background: #fff;
    z-index: 2;
    border: 1px solid #ccc;
    border-bottom: 1px #fff solid
}

.cityWrap_hover .cityName .tri {
    border-color: #fff #fff #3e3e3e;
    margin-top: 13px
}

.cityWrap_hover .cityName span {
    color: #3e3e3e
}

.cityWrap_hover .cityList {
    display: block
}

.cityBox {
    background: #fff;
    border: 1px solid #ccc;
    z-index: 1
}

.cityBox .M-cityList {
    height: 211px;
    overflow-y: auto
}

.cityBox a.current {
    background: #F42429;
    color: #fff
}

.cityBox a.current span {
    color: #fff !important
}

.cityBox .cityTitle {
    line-height: 39px;
    border-bottom: 1px #e5e5e5 solid;
    padding: 0 10px
}

.cityBox .cityTitle a {
    padding: 3px 4px
}

.cityBox .cityTitle a:hover {
    background: #F42429;
    color: #fff;
    text-decoration: none
}

.cityBox .citySearch {
    border-top: 1px #e5e5e5 solid;
    height: 35px;
    padding: 15px 0 0 10px
}

.cityBox .citySearch label {
    float: left;
    line-height: 24px
}

.cityBox .citySearch input {
    border: 1px solid #e5e5e5;
    padding: 3px;
    margin: 0 5px;
    float: left
}

.cityBox .citySearch a {
    background: #F42429;
    padding: 2px 5px;
    color: #fff;
    float: left
}

.cityShade {
    position: absolute;
    left: 4px;
    opacity: .2;
    filter: alpha(opacity=20);
    top: 4px;
    padding-bottom: 3000px;
    background: #000;
    width: 100%
}

.cityList {
    display: none;
    position: absolute;
    width: 479px;
    padding: 0 4px 4px 0;
    left: 0;
    overflow: hidden;
    top: 65px;
    -webkit-transform: translateZ(30px);
    -moz-transform: translateZ(30px);
    -ms-transform: translateZ(30px);
    transform: translateZ(30px);
    z-index: 300
}

.pupil-container, .sBanner-container {
    z-index: 999;
    position: fixed;
    left: -100%;
    transition: left .75s ease-in-out
}

.cityList li {
    padding: 5px 0 5px 40px
}

.cityList li label {
    float: left;
    margin: 5px 0 0 -20px;
    width: 20px;
    text-align: center;
    color: #3e3e3e;
    background: #f2f2f2;
    font-weight: 700
}

.cityList li a {
    padding: 0 5px;
    margin-top: 5px;
    display: inline-table;
    zoom: 1;
    *display: inline;
    color: #666
}

.cityList li a:hover {
    background: #F42429;
    color: #fff;
    text-decoration: none
}

.cityList li a.selected span {
    color: #f42429
}

.cityList li a.selected:hover span {
    color: #fff
}

.scrollStyle::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

.pupil-container img, .sBanner-container img {
    width: 100%
}

.scrollStyle::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #a1a1a1;
    border-right: 1px solid #fff
}

.pupil-container {
    display: block;
    bottom: 1%
}

.sBanner-container {
    bottom: -.5%;
    width: 100%;
    -webkit-transform: translateZ(30px);
    -moz-transform: translateZ(30px);
    -ms-transform: translateZ(30px);
    transform: translateZ(30px)
}

.sBanner-container .close-icon {
    position: absolute;
    width: 24px;
    height: 28px;
    top: 30%;
    right: 5%;
    background-image: url(https://img.alicdn.com/bao/uploaded/gtms04.alicdn.com/tfs/TB1LvHcSFXXXXcGaXXXXXXXXXXX-24-28.png);
    background-size: contain
}

.sBanner-container .text-box {
    display: block;
    position: absolute;
    width: 7.5%;
    height: 24px;
    border: 1px solid #fff;
    border-radius: 16px;
    top: 54%;
    right: 16.5%;
    color: #fff;
    font-size: 15px;
    text-align: center;
    cursor: pointer
}

.sBanner-container .text-box:hover {
    color: red
}

.sBanner-container .android-box {
    top: 75% !important
}

