.footTab {
    background: #f0f0f0;
    margin-top: 30px
}

.footWraper {
    width: 990px;
    margin: 0 auto
}

.footer {
    background: #2b2b2b;
    border-top: 2px #d21438 solid;
    width: 100%;
    margin-top: 50px
}

.footWrap {
    width: 990px;
    margin: 0 auto;
    padding-top: 20px
}

.footMiddle {
    height: 130px;
    border-bottom: 1px #666 dotted
}

.footLogo {
    float: left;
    width: 140px;
    margin-right: 45px
}

.footLogo img {
    margin-bottom: 0
}

.footLogo span {
    display: block;
    width: 100%;
    text-align: center;
    color: #9a9a9a
}

.footWrap dl {
    float: left;
    display: inline;
    width: 150px;
    overflow: hidden
}

.order-code, .phone-code {
    width: 76px;
    height: 98px;
    float: right
}

.footWrap dl dt {
    font-size: 14px;
    padding-bottom: 5px;
    color: #fff;
    font-weight: 700;
    line-height: 25px
}

.footWrap dl dd {
    line-height: 2;
    background: url(https://img.alicdn.com/bao/uploaded/img.alicdn.com/tps/i2/T18B0yFetcXXbIPdPr-2-2.png) 0 12px no-repeat;
    padding-left: 10px
}

.footWrap dl dd a {
    color: #9a9a9a
}

.phone-code {
    margin-left: 20px;
    background: url(https://img.alicdn.com/bao/uploaded/img.alicdn.com/tps/i3/TB1H7QUGXXXXXcVXXXXLc.z6pXX-76-240.png) 0 -142px no-repeat
}

.order-code {
    background: url(https://img.alicdn.com/bao/uploaded/img.alicdn.com/tps/i3/TB1H7QUGXXXXXcVXXXXLc.z6pXX-76-240.png) no-repeat
}

.footBottom {
    color: #666;
    height: 100px
}

.footBottom a {
    color: #666;
    margin-right: 5px
}

.footBottom b {
    font-weight: 400
}

.footer-ali {
    padding: 20px 0
}

.footBottom .img {
    float: right;
    margin-top: 10px
}

body > object {
    display: block;
    height: 0;
    overflow: hidden
}